<ion-header>
        <ion-navbar>
          <ion-title>Jonathan Stones</ion-title>
        </ion-navbar>
      </ion-header>
      <ion-content no-padding>
        <div class="main-slider-content">
          <ion-slides spaceBetween="0" [loop]="true" (ionSlideDidChange)="slideChanged()">
            <ion-slide>
              <ion-card class="profile-card-list" (click)="viewProfile()">
                <ion-card-content style="background-image: url('https://thispersondoesnotexist.com/image'); height: 100%;">
                </ion-card-content>
              </ion-card>
            </ion-slide>
            <ion-slide>
              <ion-card class="profile-card-list" (click)="viewProfile()">
                <ion-card-content style="background-image: url('https://thispersondoesnotexist.com/image'); height: 100%;">
                </ion-card-content>
              </ion-card>
            </ion-slide>
            <ion-slide>
              <ion-card class="profile-card-list" (click)="viewProfile()">
                <ion-card-content style="background-image: url('https://thispersondoesnotexist.com/image'); height: 100%;">
                </ion-card-content>
              </ion-card>
            </ion-slide>
            <ion-slide>
              <ion-card class="profile-card-list" (click)="viewProfile()">
                <ion-card-content style="background-image: url('https://thispersondoesnotexist.com/image'); height: 100%;">
                </ion-card-content>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </div>
        <div class="profile-content">
          <ion-buttons text-center>
              <button ion-button round color="primary" (click)="active = 'Profile'" [ngClass]="{ 'active': active === 'Profile', 'inactive': active !== 'Profile' }">
                  Profile
              </button>
              <button ion-button round color="primary" (click)="active = 'Experience'" [ngClass]="{ 'active': active === 'Experience', 'inactive': active !== 'Experience' }">
                  Experience
              </button>
              <button ion-button round color="primary" (click)="active = 'Qualifications'" [ngClass]="{ 'active': active === 'Qualifications', 'inactive': active !== 'Qualifications' }">
                  Qualifications
              </button>
          </ion-buttons>
          <ng-container *ngIf="active === 'Profile'">
              <h1>Jonathan Stones</h1>
              <p>Rugby Coach - Hennopspark Primary Gr: 3</p>
              <ion-item no-border no-padding>
                  <ion-avatar item-left>
                          <img style="width: 50px; height: 50px; border-radius: 80px; margin: 0 auto; position: relative;" round src="https://thispersondoesnotexist.com/image">
                  </ion-avatar>
                  <div class="rating-container">
                    <ion-icon name="star" color="secondary"></ion-icon>
                    <ion-icon name="star" color="secondary"></ion-icon>
                    <ion-icon name="star" color="secondary"></ion-icon>
                    <ion-icon name="star" color="light"></ion-icon>
                    <ion-icon name="star" color="light"></ion-icon>
                  </div>
                  <div class="review-text">
                    <p>12 Reviews</p>
                    <button ion-button round clear small color="primary" (click)="showReviews()">
                        Jonathan's Reviews
                    </button>
                  </div>
              </ion-item>
              <p>Languages:
                  <span>English, Afrikaans, Spanish</span>
              </p>
              <p>Age:
                  <span>23</span>
              </p>
              <p>Gender:
                  <span>Male</span>
              </p>
              <p>Employment Type:
                  <span>Full Time</span>
              </p>
              <p>Employer:
                  <span>Hennopspark Primary</span>
              </p>
          </ng-container>
          <ng-container *ngIf="active === 'Experience'">
            <h1>Experience</h1>
            <ion-list no-lines>
                <ion-item>
                    <ion-avatar item-left>
                        2019
                    </ion-avatar>
                    <h2>My Neighbor Totoro</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum placerat tincidunt justo. Nulla in
                        augue et sapien pretium condimentum non sit amet dui. Donec varius eget neque eget eleifend. Proin id
                        sem non nibh fringilla dapibus vel eget sem.</p>
                </ion-item>
            </ion-list>
          </ng-container>
          <ng-container *ngIf="active === 'Qualifications'">
            <h1>Qualifications</h1>
            <ion-list no-lines>
                <ion-item>
                    <ion-avatar item-left>
                        2019
                    </ion-avatar>
                    <h2>University Pretoria</h2>
                    <p>Graduate BA Eductaion</p>
                </ion-item>
                <ion-item>
                    <ion-avatar item-left>
                        2018
                    </ion-avatar>
                    <h2>University Pretoria</h2>
                    <p>Graduate BA Eductaion</p>
                </ion-item>
                <ion-item>
                    <ion-avatar item-left>
                        2017
                    </ion-avatar>
                    <h2>University Pretoria</h2>
                    <p>Graduate BA Eductaion</p>
                </ion-item>
            </ion-list>
          </ng-container>
        </div>
      </ion-content>
      <ion-footer no-border color="white">
        <ion-toolbar color="primary">
          <button ion-button full color="primary" (click)="active = 'Profile'" [ngClass]="{ 'active': active === 'Profile', 'inactive': active !== 'Profile' }">
              Send Request
          </button>
        </ion-toolbar>
      </ion-footer>