.profile-card-list {
  border-radius: 40px;
  overflow: hidden;
  position: relative;
}
.card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    text-align: left;
}
.card-overlay h1 {
    font-weight: 900;
    color: #fff;
    font-size: 2em;
}
.card-overlay p {
    font-weight: 400;
    color: #fff;
    font-size: 1em;
}
ion-card-content {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.card-overlay ion-item {
    background-color: transparent
}
.card-overlay ion-item ion-avatar {
    background-color: #ccc;
}