<ion-content>
    <h1 text-center>Jonathan's Reviews</h1>
    <ion-list no-lines>
        <ion-item>
            <ion-thumbnail item-start>
                <img src="https://thispersondoesnotexist.com/image">
            </ion-thumbnail>
            <h2>My Neighbor Totoro</h2>
            <div class="rating-container">
                <ion-icon name="star" color="secondary"></ion-icon>
                <ion-icon name="star" color="secondary"></ion-icon>
                <ion-icon name="star" color="secondary"></ion-icon>
                <ion-icon name="star" color="light"></ion-icon>
                <ion-icon name="star" color="light"></ion-icon>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum placerat tincidunt justo. Nulla in
                augue et sapien pretium condimentum non sit amet dui. Donec varius eget neque eget eleifend. Proin id
                sem non nibh fringilla dapibus vel eget sem.</p>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer color="light" no-border>
    <ion-toolbar color="light">
        <button ion-button clear large full color="primary" (click)="dismiss()">
            Close
        </button>
    </ion-toolbar>
</ion-footer>