<ion-header>
  <ion-navbar>
    <ion-title>Select A Coach</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="showFilters()">
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <p>
  profiles-list works!
  </p>
</ion-content>
<ion-footer no-border>
  <ion-toolbar color="primary">
    <button ion-button color="primary" text-left full (click)="saveFilters()">
      Save 
    </button>
  </ion-toolbar>
</ion-footer>